/* start custom scss snippet */

/* Original container */
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%; 
}

/* Original iframe */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* New container for responsive-radio-iframe */
.new-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 75%; /* 4:3 Aspect Ratio (3 / 4 * 100 = 75) */
}

/* Then style the iframe to fit in the new container div with full height and width */
.responsive-radio-iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 100%;
  margin: auto;
}

.responsive-chat-iframe {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0; /* Set bottom to 0 for full height */
  width: 100%; /* Set width to 100% to fill the container's width */
  height: 100%;
  margin: auto;
  display: flex;

}

  /* Add media queries to adjust the container and iframe dimensions /* 4:3 Aspect Ratio (3 divided by 4 = 0.75)  */
  /*

  @media screen and (max-width: 767px) {
    .container {
      padding-top: 100%; 
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
      padding-top: 100%; /* 16:9 Aspect Ratio 
    }
  }
  
  */
  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 200,
    'opsz' 40;
    color: #33ffff;
    font-weight: bold;
    margin-right: 12px; /* Adjust the margin as needed */
    vertical-align: bottom;
  }
  

  .header {
    text-align: center; /* Center-align the content horizontally */
    padding-top: 20px; /* Adjust as needed for spacing */
  }
  
  .image-container {
    display: inline-flex; /* Use inline-flex for centering vertically and horizontally */
    justify-content: center; /* Center-align horizontally */
    align-items: center; /* Center-align vertically */
    width: 60%; /* Set the width of the circular frame to match the image */
    border-radius: 70%; /* Create a circular frame */
    overflow: hidden;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%; /* Ensure the image doesn't exceed the frame's height */
    //border: .5px solid #000000; /* Add a border around the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
  }
  
  
/* end custom scss snippet */


